.mainComponent{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}
.sidePanel{
  display: flex;
  flex: 1 1 auto;
  padding: 0;
  background-color: black;
}
.chatPanel {
  display: flex;
  width: 100%;
  flex: 6;
  flex-direction: column;
  background-color: #1b1d22;
}
.nsPanel {
  color: white;
  display: flex;
  flex: 0;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #737373;
  background-color: #0b0a0d;
}
#nsList {
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  margin: 0;
  width: 100%;
}
.roomPanel {
  background-color: #0f1119;
  color: white;
  display: flex;
  flex: 2;
  flex-direction: column;
  border-right: 1px solid #737373;
}
#roomsList {
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  margin: 0;
  width: 100%;
}
.nsBtn {
  background-color: transparent;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: 0;
  margin: 5% 10%;
  cursor: pointer;
}
.roomHeader{
  margin: 0% 0%;
  padding: 1% 2%;
  background-color: #0b0a0d;
  border-bottom: 1px solid #949494;
  color: white;
  display: flex;
  justify-content: space-between;
}
.msgWindow {
  height: 100%;
  overflow-y: scroll;
}
.chatPanel {
  display: flex;
  width: 100%;
  flex: 6;
  flex-direction: column;
  padding: 0;
  background-color: #171616;
}
.msgPanel{
  display: flex;
  max-height: 100vh;
  flex-direction: column;
}
.chatWindowPanel { min-height: 100vh;}
.greyText {
  color: #9e9e9e;
  text-align: center;
}
#chatInput {
  flex: 1;
  border-radius: 5px;
  margin: 0.2%;
  padding: 1% 1%;
  border: 2px solid #6d6d6d;
  background-color: transparent;
  color: white;
  ::placeholder {
  color: white;
  }
}
.chatFormDiv{
  display: flex;
  flex: 1 1 auto;
  margin: 0.5%;
  padding: 0
}
#sendBtn{
  margin: 0.2% 1.5%;
  padding: 1%;
  background-color: #3F51B5;
  color: white;
  border: 0px;
  font-size: 3em;
  border-radius: 5px;
}
.nsContent {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 20%;
  cursor: pointer;
}
.nsContent > img {
  height: 30px;
  width: 30px;
}
.chatContent{
  padding-top: 2%;
  .media{
    padding: 0.5% 1%;
  }
}
.userHeader{
  width: 100%;
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  h4{
    width: 100%;
  }
}
.online{
    color: green;
    font-size: 0.5em!important;
    position: relative;
    margin: 2%;
}
.activeRoom{
  color: white;
}
.inActiveRoom{
  color: #ffffff9c;
}

.hamburger,.cross{
  font-size: 2em;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .sidePanel {
    position: absolute;
    height: 100%;
    z-index: 10;
  }
  .chatPanel{
    position: absolute;
    z-index: 10;
  }
  .roomHeader{
    padding: 3% 2%;
  }
  .hamburger,.cross{
    visibility: visible;
  }
}